// vendor
@import './vendor/normalize';

// vars
@import './variables';

// layouts
@import './layouts/header';
@import './layouts/menu';
@import './layouts/footer';
@import './layouts/modal';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: light-dark(var(--dark), var(--white));
  background: light-dark(var(--white), var(--dark-darker-2));
  overflow-x: clip;

  @media (max-width: 991.98px) {
    font-size: 14px;
  }
}

main {
  flex: 1;
}

.card {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  background-color: light-dark(var(--light-grey), var(--dark));
  padding: 2em;
  border-radius: 1em;
  transition: 0.25s ease-in-out;

  @media (max-width: 991.98px) {
    padding: 1em;
  }
}